/*Ambas clases tienen background-color y box-shadow porque hay ciertos elementos del DOM que no toman alguna de las dos*/
.woa-highlighted-element { 
	border-radius: 7px !important;
	background-color: #FFD238 !important;
	box-shadow: 0px 0px 12px 0px #FFD238 !important;
	/*transition: all .5s; lo hace MUY lento*/
}
.woa-selected-element {
	border-radius: 7px !important;
	box-shadow: 0px 0px 12px 0px #FFD238 !important;
	background: #FFD238 !important;
	transition: all 1s !important;
} 
.woa-highlighted-attr-element { 
	border-radius: 7px !important;
	background-color: #FFD238 !important;
	box-shadow: 0px 0px 12px 0px #FFD238 !important;
	/*transition: all .5s; lo hace MUY lento*/
}
.woa-selected-attr-element {
	border-radius: 7px !important;
	box-shadow: 0px 0px 12px 0px rgba(50,186,50,1) !important;
	background: rgba(50,186,50,.5) !important;
	transition: all 1s !important;
}
.woa-loading {
    display:    block;
    position:   fixed;
    z-index:    9999999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}